---
import H1 from '@components/H1.astro';
import Main from '@components/Main.astro';
import Pagination from '@components/Pagination.astro';
import PostList from '@components/PostList.astro';
import Layout from '@layouts/Layout.astro';
import type { GetStaticPaths, Page } from 'astro';
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
    const posts = await getCollection('posts');
    return paginate(posts, { pageSize: 6 });
};

type Props = {
    page: Page<CollectionEntry<'posts'>>;
};

const { page } = Astro.props;
const posts = page.data;
---

<Layout
    title="Blog - Rythm Nation"
    description="Read and learn from the best music producers and enthusiasts">
    <Main>
        <H1 text="Rythm Nation Blog" />
        <p class="mb-24 text-2xl text-zinc-900 max-sm:mb-14">Join the Community and learn from Music Producers and Enthusiasts</p>
        <div class="mb-12">
            <Pagination
                prevUrl={page.url.prev}
                nextUrl={page.url.next}
            />
        </div>
        <PostList posts={posts} />
        <div class="mb-36">
            <Pagination
                prevUrl={page.url.prev}
                nextUrl={page.url.next}
            />
        </div>
    </Main>
</Layout>
